<<<<<<< HEAD
<<<<<<< HEAD
.navbar{
    background-color: black;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
}
.navbar li{
    flex: 1;
}
.navbar a{
    color:aquamarine;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:darkblue;
=======
=======
body {
    background-color: lightblue;
    margin: 0;  /* Removes default margin */
    padding: 0;
  }



>>>>>>> 190914d8ca3b287f5a91eb9ad2bac08caa3f81ff
.nav{
    background-color:#d37986;
    color: black;
}

.nav a{
    color: black;
}

.nav a:hover{
  color: #E6B2BA
}

@keyframes moveLeftDisappear {
  0% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(-150px); opacity: 0; }
}

.move-left {
  animation: moveLeftDisappear 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}
/* body {
    background-color: beige;
}

.body{
    background-color: black;
<<<<<<< HEAD
>>>>>>> 67ecf80ec8b58d05bc39bc512e5f007037153eda
}
=======
} */
main {
    margin-left: 20pxs;
}

main p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    text-align: center;
    margin-left: 20px;
}

body {
    margin: 0;  
    padding: 0;
  }

  img {
    max-width:40%;
    height: auto;  
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 40px;
  }

  img:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
    transition: ;
    font-display: 'CustomFont';
  }
  
  .class{
    position:relative;
  }
  .text{
    padding: 20px;
    position: absolute;
    display: none;


  }
  @media (max-width: 768px) {
    main p {
        font-size: 2em; /* Adjust font size for smaller screens */
    }

    img {
        margin: 10px; /* Reduce margin on smaller screens */
    }
}

  #data-display {
    min-height: 100vh;  /* Takes up full screen height */
    padding: 50px;  /* Add padding for spacing */
    background: #f5f5f5;  /* Light background to make it distinct */
}

#data-display {
  min-height: 100vh;
  padding: 50px;
  background: #f5f5f5;
  text-align: center;
}

.map-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.map-image {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.pin {
  width: 40px;
  position: absolute;
  top: 50%;  /* Adjust to fine-tune placement */
  left: 50%;
  transform: translate(-50%, -100%) scale(0);
  transition: transform 0.5s ease-out;
}

.pin.show {
  transform: translate(-50%, 0) scale(1);
}

<<<<<<< HEAD
=======
  

>>>>>>> 90952436df95cfcd620b0d7e38d181f5359b1928
