<<<<<<< HEAD
.navbar{
    background-color: black;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
}
.navbar li{
    flex: 1;
}
.navbar a{
    color:aquamarine;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:darkblue;
=======
.nav{
    background-color:#d37986;
    color: black;
}

.nav a{
    color: black;
}
.nav a:hover{
    color: #E6B2BA;
}

body {
    background-color: beige;
}

.body{
    background-color: black;
>>>>>>> 67ecf80ec8b58d05bc39bc512e5f007037153eda
}